[user]
    name = Ryu Segawa
    email = bryutus@gmail.com
    username = bryutus
[core]
    editor = vim -c \"set fenc=utf-8\"
    precomposeunicode = true
    quotepath = false
[color]
    diff = auto
    status = auto
    branch = auto
[push]
    default = simple
[diff]
    compactionHeuristic = true
    tool = vimdiff
[alias]
    st = status
    co = checkout
    branches = branch -a
    stashes = stash list
    graph = log --graph -20 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    start = commit --allow-empty -m 'Initial commit'
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[ghq]
    root = ~/dev/src
[credential]
    helper = osxkeychain
